RSS to Twitter

#if($account) 
	$account.username
#else
	<a href="oauth/login">Sign in</a>
#end

#if($jobs)
	<h4>Feeds</h4>
	<p>These feeds will be tweeted to your Twitter account ($account.username).</p>
	<ul>
        #foreach($job in $jobs)
        	<li>$job.feed.url</li>
        #end
	</ul>
#end

