<h4>New feed</h4>

<form method="POST" action="/feeds/new">
    <div class="form-group">
        #springBind("feedDetails.url")
        <label for="${status.expression}" class="col-sm-2 control-label">Feed URL</label>
        <div class="col-sm-5">
            <input id="${status.expression}" name="${status.expression}" placeholder="http://" value="$!{status.value}" class="form-control" />
            #foreach($error in $status.errorMessages)
                <div class="alert alert-warning">$error</div>
            #end
        </div>
    </div>
    <input type="submit">Add feed</input>
</form>
